@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--white-8, rgba(245, 245, 245, 0.08));
  background: linear-gradient(
      0deg,
      rgba(38, 37, 52, 0.72) 0%,
      rgba(38, 37, 52, 0.72) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.24) 0%,
      rgba(255, 255, 255, 0.24) 100%
    ),
    url("../app/\(assets\)/images/bg.png"),
    lightgray 0% 0% / 1.9999999552965164px 1.9999999552965164px repeat;
}
